---
import CookieConsent from '@/components/ui/CookieConsent.jsx';
import { Instagram } from 'lucide-react';
export interface Props {
  title?: string;
  logoSrc?: string;
}
const { title = 'Evento Especial', logoSrc = '/logo.png' } =
  Astro.props as Props;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover"
    />
    <title>{title}</title>
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    class="text-white bg-champagne bg-[url('/bg-mobile.png')] bg-cover bg-center bg-no-repeat md:bg-white min-h-screen font-bebasNeue"
  >
    <header class="w-full border-b border-white/10">
      <div
        class="container mx-auto px-4 py-4 flex items-center justify-between flex-wrap"
      >
        <a
          href="https://ipuc.org.co/"
          target="_blank"
          class="flex items-center justify-center gap-3 mb-4"
        >
          <img
            src="/ipuc-logo.png"
            alt="Logo"
            class="h-auto max-h-[120px] lg:max-h-[100px] md:h-18 w-auto"
          />
        </a>
        <img
          src="/logo-conquistadores.png"
          alt="Logo"
          class="h-[85px] md:h-18 w-auto"
        />
        <a href="/" class="flex items-center gap-3">
          <img src={logoSrc} alt="Logo" class="h-[100px] md:h-18 w-auto" />
        </a>
      </div>
    </header>

    <main class="container mx-auto md:px-4 py-4 md:py-6">
      <slot />
    </main>

    <footer
      class="w-full border-t border-white/10 relative py-8 px-1 md:px-4 bg-primary/30"
    >
      <div
        class="mx-auto py-4 flex flex-col items-center justify-between flex-wrap"
      >
        <div class="flex flex-col items-center">
          <h3 class="text-lg font-bold text-gray-900 text-center pb-3 italic">
            ¡Síguenos en nuestras redes sociales!
          </h3>
          <div class="flex items-center gap-6 text-lg">
            <a
              href="https://www.instagram.com/fervor.oficial?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
              target="_blank"
              rel="noopener noreferrer"
              class="flex items-center font-bold justify-center my-4 text-primary"
            >
              <Instagram />
              @fervor.oficial
            </a>
            |
            <a
              href="https://www.instagram.com/conquistadores9?igsh=MXB2bjJ5ZW1nMXlhaw=="
              target="_blank"
              rel="noopener noreferrer"
              class="flex items-center font-bold justify-center text-primary"
            >
              <Instagram />
              @conquistadores9
            </a>
          </div>
        </div>

        <p class="text-white text-sm mt-4 pb-1 font-bold">
          Fervor Oficial 2025.
        </p>
        <p class="text-white/75 text-sm pb-4">Todos los derechos reservados.</p>

        <span
          class="text-white/85 font-bold text-[12px] absolute bottom-6 right-7"
          >By Bryan Villamil © {new Date().getFullYear()}</span
        >
      </div>
    </footer>

    {/** Modal de cookies y tratamiento de datos */}
    <CookieConsent client:load />
  </body>
</html>
