---
export interface Props {
  title?: string;
  logoSrc?: string;
}
const { title = 'Evento Especial', logoSrc = '/logo.png' } =
  Astro.props as Props;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    class="text-white font-inter bg-[url('/bg-mobile.png')] bg-cover bg-center bg-no-repeat md:bg-white min-h-screen"
  >
    <!-- backdrop-blur supports-[backdrop-filter]:bg-white/5 -->
    <header class="w-full border-b border-white/10">
      <div
        class="container mx-auto px-4 py-4 flex items-center justify-between"
      >
        <a href="/" class="flex items-center gap-3">
          <img src={logoSrc} alt="Logo" class="h-[100px] md:h-18 w-auto" />
        </a>

        <a
          href="https://ipuc.org.co/"
          target="_blank"
          class="flex items-center gap-3"
        >
          <img
            src="/ipuc-logo.png"
            alt="Logo"
            class="h-[100px] md:h-18 w-auto"
          />
        </a>
      </div>
    </header>

    <main class="container mx-auto md:px-4 py-4 md:py-6">
      <slot />
    </main>
  </body>
</html>
